@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}

#whiteRiceRecipe {
  font-size: 17px;
  left: 10px;
  top: 20px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
