body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: black;
  color: pink;
  font-size: 20px;
  font-family: Dosis, sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: white;
  font-family: 'Maven Pro', sans-serif;
}

button {
  color: pink;
  background-color: grey;
  border-style: none;
  padding: 10px;
  margin: 2px;
}

input {
  text-align: center;
  background-color: rgb(31, 31, 31);
  color: white;
  border-color: pink;
  border-right: none;
  border-left: none;
  border-top: none;
  font-size: 18px;
  margin: 10px;
}

#recipe {
  color: white;
  white-space: pre-wrap;
  line-height: 2rem;
  border: .5px;
  border-style: dashed;
  border-color: rgb(255, 214, 221);
  max-width: 50em;
  padding: 10px;
}
