.header{
  background: bisque;
  width: 100%
  padding:40px;
}

.header h1{
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 32;
}

body {

  background-image: url(rice1.png);
  -webkit-background-size: cover;
  background-size:cover;
  background-position: center center;
  height: 100vh;
  font-family:poppins;
  font-weight:600;
}

.nav{
  overflow: hidden;
  padding-left: 255px;
  position: sticky;

}
.nav a {
  float:left;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  width: 100px;
  font-size: 14px;
  font-weight: bold;
  position: sticky;
}
.nav a:hover {
  color:#d22938;
}
